MONGODB_URI=your_mongo_uri
JWT_SECRET=your_super_secure_jwt_secret_here
JWT_EXPIRES_IN=7d
API_SECRET=fallback_for_jwt_secret
CLOUDINARY_API_KEY=your_cloudinary_key_here
NODE_ENV=development
PORT=3000
TEACHER_PIN=your_access_code
FRONTEND_URL=http://localhost:5173